.bs-example {
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    /* margin: 20px; */
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.container {
    /* margin-top: 10%; */
    /* margin-left: 30%; */
    /* margin-right: 10%; */
    margin-bottom: 10%;
    background-color: beige;
    /* padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%; */
    padding-top: 5%;
    padding-bottom: 5%;
}

form {
    align-content: center;
}