/* You can add global styles to this file, and also import other style files */

/* #bac-img{
    background-image: url("././assets/images/event1.jpg");
    min-height: 380px;



    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

html,body{
    height: 100%;
}